body {
    background-image: url("book_bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.icon
{
    height: 20px;
}

.menu
{
    position: absolute;
    right: 20px;
    top: 20px;
}

th
{
    position: relative;
}
.status
{
    position: absolute;
    top: 10px;
}

.overview {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #8bb0f2;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
}

select
{
    border-radius: 5px;
}